<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>

  <div class="pinterestnav">
    <div class="left">
      <a href="/feed" class="logo"><i class="fab fa-pinterest"></i></a>
      <a href="/feed" id="home" class="tabs">Home</a>
      <a href="/search" class="tabs">Explore</a>
      <a href="/profile/posts" class="tabs">Create</a>
    </div>
    <div class="search">
      <i class="fas fa-search"></i>
      <input type="search" name="search_box" id="searchbx" placeholder="Search">
      <a href="/feed"><img src="/images/cross.png" alt="" class="items p-2 hidden" id="cross"></a>
    </div>
    <div class="right">
      <a href="#" class="items"><i class="fas fa-bell"></i></a>
      <a href="#" class="items"><i class="far fa-comment-dots"></i></a>
      <a href="/profile" class="avatar">
        <div class="img"><img src="/images/uploads/<%= user.dp %>" alt=""></div>
      </a>
      <a href="#" class="items-down"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>