<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image search engine </title>
    <link rel="stylesheet" href="/stylesheets/style_img.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
    <div class="main">


        <div style="background-color:#684f3e; color:white; padding:10px; margin-top:10px"style="background-color:#684f3e; color:white; padding:10px; margin-top:10px;"  >

           <a href="/feed" style="color: white;">HOME</a> 

        </div>

        
    
        <div style="margin-top: 100px;">
            
        <form id="search_form">
            <input type="text" id="search_box" placeholder="search anything here.......">
            <button>Search</button>
        </form>
    
        <div id="search_result"></div>
        <button id="show_more_btn">Show more</button>
    
        <script src="/javascripts/script_img.js"></script>
        </div>

    </div>


</body>
</html>